---
http_interactions:
- request:
    method: post
    uri: https://www.bitstamp.net/api/v2/buy/market/btcusd/
    body:
      encoding: UTF-8
      string: amount=0.0018&key=[key]&nonce=1546506808&signature=553AEB41FCEF83EDB1EBF6869B2ACFFB6682D39F549287928598A0CD1632920E
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Language:
      - en
      Content-Type:
      - application/json
      Last-Modified:
      - Thu, 03 Jan 2019 09:13:29 GMT
      X-Iinfo:
      - 11-149024110-149024116 NNNN CT(0 0 0) RT(1546506808464 135) q(0 0 0 -1) r(6
        6) U6
      X-Cdn:
      - Incapsula
    body:
      encoding: UTF-8
      string: '{"price": "3834.80", "amount": "0.00180000", "type": "0", "id": "2668803173",
        "datetime": "2019-01-03 09:13:29.193329"}'
  recorded_at: Thu, 03 Jan 2019 09:13:29 GMT
recorded_with: VCR 3.0.3
