---
http_interactions:
- request:
    method: post
    uri: https://www.bitstamp.net/api/v2/sell/market/btcusd/
    body:
      encoding: UTF-8
      string: amount=0.002&key=[key]&nonce=1546506585&signature=095691B87BB38CCEA633D8B4E2108F58CE802259815503595CB73A76C6574720
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Language:
      - en
      Content-Type:
      - application/json
      Last-Modified:
      - Thu, 03 Jan 2019 09:09:45 GMT
      X-Iinfo:
      - 14-213093892-213093052 PNNN RT(1546506585252 134) q(0 0 0 -1) r(4 4) U6
      X-Cdn:
      - Incapsula
    body:
      encoding: UTF-8
      string: '{"price": "3828.56", "amount": "0.00200000", "type": "1", "id": "2668790681",
        "datetime": "2019-01-03 09:09:45.734317"}'
  recorded_at: Thu, 03 Jan 2019 09:09:45 GMT
recorded_with: VCR 3.0.3
