---
http_interactions:
- request:
    method: post
    uri: https://www.bitstamp.net/api/v2/balance/
    body:
      encoding: UTF-8
      string: key=[key]&nonce=1547008527591&signature=6146B494C9F381C9ED711C88402F7D33F7DE64C2D33095C559551A501E33389B
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Language:
      - en
      Content-Type:
      - application/json
      Last-Modified:
      - Wed, 09 Jan 2019 04:35:28 GMT
      X-Iinfo:
      - 10-260036521-260033629 PNNN RT(1547008526925 186) q(0 0 0 0) r(3 3) U6
      X-Cdn:
      - Incapsula
    body:
      encoding: UTF-8
      string: '{"bch_available": "0.00000000", "bch_balance": "0.00000000", "bch_reserved":
        "0.00000000", "bchbtc_fee": "0.13", "bcheur_fee": "0.13", "bchusd_fee": "0.13",
        "btc_available": "0.00970000", "btc_balance": "0.00970000", "btc_reserved":
        "0.00000000", "btceur_fee": "0.13", "btcusd_fee": "0.13", "eth_available":
        "0.00000000", "eth_balance": "0.00000000", "eth_reserved": "0.00000000", "ethbtc_fee":
        "0.13", "etheur_fee": "0.13", "ethusd_fee": "0.13", "eur_available": "0.00",
        "eur_balance": "0.00", "eur_reserved": "0.00", "eurusd_fee": "0.13", "ltc_available":
        "0.00000000", "ltc_balance": "0.00000000", "ltc_reserved": "0.00000000", "ltcbtc_fee":
        "0.13", "ltceur_fee": "0.13", "ltcusd_fee": "0.13", "usd_available": "1.08",
        "usd_balance": "1.08", "usd_reserved": "0.00", "xrp_available": "0.00000000",
        "xrp_balance": "0.00000000", "xrp_reserved": "0.00000000", "xrpbtc_fee": "0.13",
        "xrpeur_fee": "0.13", "xrpusd_fee": "0.13"}'
  recorded_at: Wed, 09 Jan 2019 04:35:28 GMT
recorded_with: VCR 3.0.3
